body {
    position: relative;
    background-color: rgba(8, 4, 0, 0.7);
    background-image: url(../medias/walltexture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    /* background-attachment: fixed; */
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.journal {
    width: 30vw;
    height: 40vw;
    border: solid 5px whitesmoke;
    background-image: url(../medias/journal.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: skew(5deg);
    box-shadow: -10px 10px 10px black;
}

.aboutMe {
    border: solid red;
    color: white;
    width: 40%;
}