body {
    position: relative;
    background-color: rgba(8, 4, 0, 0.7);
    background-image: url(../medias/walltexture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    /* background-attachment: fixed; */
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

body.active * {
    pointer-events: none;
}

.source {
    position: absolute;
    right: 2%;
    top: 6%;
    z-index: 100;
    display: none;
    width: 30vw;
    height: 80vh;
    color: white;
    padding: 1rem;
    overflow: auto;
}

.source a {
    color: orangered;
}

.source li {
    margin: 20px 0;
}

body.active .source {
    pointer-events: initial;
    display: initial;
}

body.active .source a {
    pointer-events: initial;
}

.bgBlack {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    display: none;
}

body.active .bgBlack {
    display: initial;
}

.journal {
    width: 30vw;
    height: 40vw;
    cursor: pointer;
    border: solid 5px whitesmoke;
    background-image: url(../medias/journal.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -10px 10px 10px black;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    transition: all 0.25s ease;
}

.journal:hover {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    transform: translateY(-20px);
}

body.active .journal {
    pointer-events: all;
    position: relative;
    z-index: 100;
    left: 25%;
    top: 50%;
    -webkit-filter: none;
    filter: none;
    transform: scale(1.1);
}

.aboutMe {
    color: white;
    width: 40%;
    max-height: 70vh;
    box-shadow: -10px 10px orange, -20px 20px orangered;
    border-radius: 10px;
    background-color: rgb(61, 22, 13);
    padding: 1rem;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    overflow: auto;
    transition: all 0.1s ease;
}

.aboutMe:hover {
    -webkit-filter: blur(0px);
    filter: blur(0px);
}

.aboutMe p {
    font-size: 1.25rem;
}

.aboutMe h1 {
    color: orangered;
}