.container {
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url(../medias/woodTexture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 90%;
    margin-top: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bandDescription img {
    float: left;
    width: 500px;
    margin-right: 1.5rem;
}

.bandDescription span {
    font-size: 3rem;
    font-family: "Vignettic", sans-serif;
    color: #049BD7;
}

.bandDescription p {
    text-align: justify;
    font-size: 1.25rem;
}

.members {
    margin-top: 0;
    flex-direction: column;
    align-items: start;
}

.members h2 {
    font-size: 3rem;
    font-family: "Vignettic", sans-serif;
    color: #049BD7;
}