.container {
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url(../medias/woodTexture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 90%;
    border: solid red;
    color: white;
}

.bandDescription img {
    float: left;
    width: 500px;
    margin: 1rem;
}