.container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url(../medias/woodTexture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container::before {
    content: '';
    position: absolute;
    top: 0%;
    right: -20%;
    z-index: 0;
    height: 56vw;
    width: 55vw;
    -webkit-filter: blur(2px) sepia(30%) saturate(150%);
    filter: blur(2px) sepia(30%) saturate(150%);
    background-image: url(../medias/guitareAcc.png);
    background-size: cover;
    transform: rotateZ(-20deg);
}

.container::after {
    content: '';
    position: absolute;
    top: 40%;
    left: -15%;
    z-index: 0;
    height: 65vw;
    width: 40vw;
    -webkit-filter: blur(2px) sepia(30%) saturate(150%);
    filter: blur(2px) sepia(30%) saturate(150%);
    background-image: url(../medias/guitareElec.png);
    background-size: cover;
    background-position: center;
    transform: rotateZ(-20deg);
}

section {
    position: relative;
    z-index: 1;
    width: 90%;
    margin-top: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bandDescription img {
    float: left;
    width: 500px;
    margin-right: 1.5rem;
}

.bandDescription span {
    font-size: 3rem;
    font-family: "Vignettic", sans-serif;
    color: #049BD7;
}

.bandDescription p {
    text-align: justify;
    font-size: 1.25rem;
}

.members {
    margin-top: 50px;
    flex-direction: column;
    align-items: start;
}

.members h2 {
    margin-bottom: 100px;
    font-size: 3rem;
    font-family: "Vignettic", sans-serif;
    color: #049BD7;
}

.imgList {
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.imgList div {
    position: relative;
    margin: 1rem;
    width: 100%;
    height: 100%;
    border: solid wheat 10px;
    transition: all 0.25s ease;
}

.imgList div::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 20%;
    -webkit-filter: sepia(40%);
    filter: sepia(40%);
    background-image: url(../medias/pins.png);
    background-size: cover;
    background-position: center;
    transition: all 0.25s ease;
}

.imgList div::before {
    content: var(--name);
    position: absolute;
    font-size: 1.5vw;
    text-align: center;
    color: black;
    font-family: "California", sans-serif;
    z-index: 2;
    top: 101%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    opacity: 0;
    transition: all 0.25s ease;
}

.imgList div:hover {
    border-bottom: solid wheat 3vw;
    transform: scale(1.1);
    box-shadow: 5px 5px 20px black;
}

.imgList div:hover:after {
    top: -15%;
    left: 60%;
    transform: translateX(-50%) scale(.75);
}

.imgList div:hover:before {
    opacity: 1;
}

#don {
    background-image: url(../medias/donHenley.jpg);
    background-size: cover;
    background-position: center;
}

#glenn {
    background-image: url(../medias/glennFrey.jpg);
    background-size: cover;
    background-position: center;
}

#randy {
    background-image: url(../medias/randyMeisner.jpg);
    background-size: cover;
    background-position: center;
}

#bernie {
    background-image: url(../medias/bernieLeadon.jpg);
    background-size: cover;
    background-position: center;
}

.members p {
    padding: 1rem;
    font-size: 1.2rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}