.container {
    position: relative;
    background-color: rgba(8, 4, 0, 0.7);
    background-image: url(../medias/hotelWall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    /* background-attachment: fixed; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container::before {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 10vw;
    background-image: url(../medias/bureau.png);
    background-size: cover;
    background-position: 0 25%;
}

.cloche {
    position: absolute;
    bottom: 0;
    right: 30%;
    content: '';
    width: 10vw;
    height: 10vw;
    background-image: url(../medias/clocheKey.png);
    background-size: cover;
    background-position: center;
}

#plaque {
    width: 20vw;
    margin-bottom: -3vw;
    margin-top: 100px;
    -webkit-filter: saturate(120%);
    filter: saturate(120%);
}

.board {
    position: relative;
    z-index: 1;
    height: 40vw;
    width: 60%;
    background-image: url(../medias/tableauLiege.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.5);
}

.albumCover {
    position: absolute;
    z-index: 2;
    top: 13%;
    right: 10%;
    width: 10vw;
    height: 10vw;
    background-image: url(../medias/albumCover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: solid wheat .75vw;
    box-shadow: 7px 10px 25px rgba(0, 0, 0, 0.5);
    transform: rotateZ(13deg);
}

.albumCover::after {
    content: '';
    position: absolute;
    z-index: 3;
    top: -22%;
    right: 50%;
    width: 40%;
    height: 40%;
    -webkit-filter: sepia(40%);
    filter: sepia(40%);
    background-image: url(../medias/pins.png);
    background-size: cover;
    background-position: center;
    transition: all 0.25s ease;
    transform: rotateZ(-20deg) translateX(65%);

}

.jail {
    position: absolute;
    z-index: 2;
    top: 45%;
    right: 29%;
    width: 10vw;
    height: 10vw;
    background-image: url(../medias/prison.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid wheat .75vw;
    box-shadow: 7px 10px 25px rgba(0, 0, 0, 0.5);
    transform: rotateZ(-7deg);
}

.jail:after {
    content: '';
    position: absolute;
    z-index: 3;
    top: -12%;
    right: 50%;
    width: 40%;
    height: 40%;
    -webkit-filter: sepia(40%);
    filter: sepia(40%);
    background-image: url(../medias/pins.png);
    background-size: cover;
    background-position: center;
    transition: all 0.25s ease;
    transform: rotateZ(-50deg) translateX(65%);
}

#hotelPins {
    position: absolute;
    z-index: 2;
    bottom: 32%;
    right: 10%;
    width: 7vw;
    height: 7vw;
    transform: rotateZ(6deg);
}


.pageBlanche {
    position: absolute;
    z-index: 2;
    top: 5%;
    left: 10%;
    width: 24vw;
    height: 35vw;
    background-image: url(../medias/pageBlanche.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotateZ(-8deg);

}

#eaglesPatch {
    position: absolute;
    z-index: 2;
    bottom: 12%;
    right: 16%;
    width: 6vw;
    height: 5vw;
}

.pageBlanche:after {
    content: '';
    position: absolute;
    z-index: 3;
    top: 8%;
    right: 0%;
    width: 20%;
    height: 5%;
    background-image: url(../medias/Sticker.png);
    background-size: cover;
    background-position: center;
    transition: all 0.25s ease;
    transform: rotateZ(18deg);
}

.pageBlanche:before {
    content: '';
    position: absolute;
    z-index: 3;
    bottom: 12%;
    left: -3%;
    width: 20%;
    height: 5%;
    background-image: url(../medias/Sticker.png);
    background-size: cover;
    background-position: center;
    transition: all 0.25s ease;
    transform: rotateZ(25deg);
}

.board p {
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: 3;
    width: 17vw;
    height: 24vw;
    text-align: center;
    transform: rotateZ(-3deg);
    mix-blend-mode: multiply;
    overflow: auto;
}

.cadres {
    position: relative;
    z-index: 1;
    height: 40vw;
    width: 80%;
    margin-bottom: 150px;
}

.tableauBlanc {
    position: absolute;
    width: 55%;
    height: 70%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: url(../medias/tableauBlanc.png);
    background-size: cover;
    background-position: center;
}

.cadres p {
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 85%;
    height: 16.5vw;
    text-align: justify;
    mix-blend-mode: multiply;
    overflow: auto;
    padding: 1rem;
}

#cadre1 {
    position: absolute;
    z-index: 2;
    top: 8%;
    left: 5%;
    width: 20%;
}

#cadre2 {
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 28%;
    width: 15%;
}

#plaqueHotel {
    position: absolute;
    z-index: 2;
    bottom: 5%;
    left: 8%;
    width: 25%;
    -webkit-filter: saturate(200%) sepia(30%);
    filter: saturate(200%) sepia(30%);
}

.container a {
    color: orangered;
}

.container a:visited {
    color: orangered;
}