@font-face {
    font-family: "California";
    src: url("../fonts/California.woff2") format("woff2"),
        url("../fonts/California.woff") format("woff"),
        url("../fonts/California.otf") format("opentype"),
        url("../fonts/California.ttf") format("truetype");
}

@font-face {
    font-family: "The Bambank Script";
    src: url("../fonts/The\ Bambank\ Script.woff2") format("woff2"),
        url("../fonts/The\ Bambank\ Script.woff") format("woff"),
        url("../fonts/The\ Bambank\ Script.otf") format("opentype"),
        url("../fonts/The\ Bambank\ Script.ttf") format("truetype");
}

@font-face {
    font-family: "Vignettic";
    src: url("../fonts/Vignettic.woff2") format("woff2"),
        url("../fonts/Vignettic.woff") format("woff"),
        url("../fonts/Vignettic.otf") format("opentype"),
        url("../fonts/Vignettic.ttf") format("truetype");
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 15px;
    background: white;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #111;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #111;
}

* {
    scrollbar-color: #111 white;
    scrollbar-width: thin;
}

html {
    scrollbar-color: white #111;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: "Reem Kufi", sans-serif;
}